<div id="admin_purchase_policy_type_form_fields" data-hook>
  <%= f.field_container :name do %>
    <%= f.label :name, I18n.t('spree.name') %><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= error_message_on :purchase_policy_type, :name %>
  <% end %>
</div>
